.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05); /* Colore di sfondo semi-trasparente */
  backdrop-filter: blur(15px); /* Applica l'effetto di sfocatura sullo sfondo */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
  flex: 0 1 auto;
}

.navbar-login {
  flex: 0 1 auto;
}
