.trending-title {
  display: inline-block; /* Occupa solo lo spazio necessario per il contenuto */
  color: white;

  &:hover {
    color: rgb(100, 100, 252);
    cursor: pointer;

    .trending-arrow {
      color: rgb(239, 239, 239);
    }
  }

  .trending-arrow {
    color: rgb(101, 108, 194);
  }
}
