.col-left img {
  border-radius: 10px;
  width: 100%;
}

body {
  color: white;
}

.steam-banner {
  background-color: rgba(7, 7, 45, 0.645);
  padding: 13px;
  border-radius: 35px;
}

.old-price {
  text-decoration: line-through;
}

.discount {
  color: rgb(250, 53, 112);
}

.new-price {
  font-size: 30px;
}

.price span {
  margin-right: 5px;
}

.col-right {
  background: rgba(0, 0, 0, 0.732);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.145) 28%, rgba(12, 12, 12, 0.025) 54%, rgba(25, 25, 25, 0) 81%);
  border-radius: 10px;
  backdrop-filter: blur(30px);
}

.add-to-cart {
  background-color: rgb(250, 53, 112);
  color: white;
  border: none;
  font-weight: 500;
  padding: 0.5rem 4rem;
  cursor: pointer;
}

.game-description {
  color: rgba(146, 187, 250, 0.535);
}

.game-infos {
  color: rgba(146, 187, 250, 0.535);
  font-weight: 400;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  background: #000;
  margin-top: 20px;
  border-radius: 20px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.carousel-wrapper {
  border-radius: 20px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.carousel-inner {
  overflow: hidden;
}
.screenshot {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.modal-body {
  padding: 0;
}

.modal-body img {
  width: 100%;
  height: auto; /* Mantieni le proporzioni */
}

/* Modal - Imposta una dimensione minima */
.modal-dialog {
  max-width: 90%; /* Aumenta la dimensione massima del modal */
}

.modal-dialog.modal-lg {
  max-width: 80%; /* Aumenta ulteriormente per modal grandi */
}
.gamepage-banner {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.gamepage-container {
  margin-top: 15vh;
}
