// SCSS per la Registration Page

.register-container {
  height: 100vh;
}

.register-form {
  width: 100%;
  max-width: 300px;
  padding: 20px;
}

.register-button {
  width: 100%;
  background-color: rgb(250, 53, 112);
  border: none;
}

.wallpaper-column {
  background-image: url("https://www.instant-gaming.com/themes/igv2/modules/register/images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.login-link {
  font-size: small;
  color: white;
  text-decoration: none;

  &:hover {
    color: rgb(0, 140, 255);
  }
}

.custom-alert {
  position: relative;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 1rem;

  &.alert-danger {
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.5);
    color: red;
  }

  &.alert-success {
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px solid rgba(0, 255, 0, 0.5);
    color: green;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
