.banner-container {
  position: relative;
  overflow: hidden;
  height: 50vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01070b;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  pointer-events: none;
}

.banner-details {
  display: flex;
  align-items: center;
}

.bannerpercentage {
  font-weight: 500;
  background-color: rgb(250, 53, 112);
  border-radius: 5px;
  padding: 2px;
  margin-right: 5px;
}

.banner-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
